@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    color: #292929;
    overflow-x: hidden;
}
select{
    background-color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20% 0 20%;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    z-index: 3;
    position: relative;
}
main{
    padding: 50px 20% 50px 20%;
}

.form{
    background-color: white;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    animation: for 1s 1;
}

.form_el{
    width: 15%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_el select{
    width: 80%;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    border-radius: 10px;
    border: 1px lightgray solid;
    font-weight: 500;
}

.form_el input{
    width: 90%;
    font-family: 'Roboto', sans-serif;
    height: 28px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border: 1px lightgray solid;
    padding: 0 5px 0 5px;
    font-weight: 500;
}

.summa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.summa input{
    width: 70%;
    height: 28px;
    margin: 0;
    padding: 0;
    border: 1px lightgray solid;
    border-radius: 10px 0 0 10px;
    padding: 0 5px 0 5px;
    font-weight: 500;
}
.summa select{
    width: 30%;
    height: 30px;
    border-radius: 0px 10px 10px 0px;
    border: 1px lightgray solid;
    font-weight: 600;
}

.form_el .label{
    border-radius: 0px 10px 10px 0px;
}

.form_el span{
    border: none;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    border-radius: 10px 0 0 10px;
    font-size: 14px;
    border: 1px lightgray solid;
}

form button{
    font-family: 'Roboto', sans-serif !important;
    border-radius: 10px 10px 10px 10px;
    border: none;
    background: linear-gradient(45deg, #57bcff, #56ffc7);
    transition: 0.3s;
    cursor: pointer;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    color: #2e2e2e;
}

form button:hover{
    filter: brightness(115%);
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.4);
    transform: translate(-3px, -3px);
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.logo a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.pic{
    width: 35px;
    margin-right: 10px;
    transition: 1s;
}

.logo:hover .pic{
    transform: rotateY(360deg);
}

.back{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40%;
    z-index: -100;
}

.main_content{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.cash{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.history h1{
    align-self: flex-start;
    margin-left: 5%;
}

.date{
    text-decoration: underline;
}

.income{
    background-color: white;
    width: 85%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.img{
    background-color: #88ee84;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: block;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    font-size: 20px;
}

.img:hover{
    filter: brightness(110%);
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.4);
    transform: translate(-3px, -3px);
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #51a560, #9ffc9a);
    filter: brightness(105%);
    border-radius: 10px 10px 0px 0px;
    color: white;
    padding: 0px 30px 0px 30px;
    transition: 0.3s;;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: 1px lightgray solid;
    height: 100%;

}

.info span{
    text-align: center;
    background-color: white;
    padding: 5px;
}

.info1{
    border-radius: 5px 0px 0px 5px;
    border-right: 1px solid lightgray;
}

.info2{
    border-radius: 0px 5px 5px 0px;
    border-left: 1px solid lightgray;
}

.info span p{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    color: #5f5f5f;
}

.cards{
    padding: 0 20px 0 20px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 30px 0;
    text-decoration: none;
}

.more{
    justify-content: center;
}

.card h1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    color: gray;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    transition: 0.3s;
}

.card h1:hover{
    border: 2px solid black;
    color: black;
}

.price{
    margin: 3px;
    color: gray;
    font-size: 14px;
}

.str{
    margin-top: 10px;
    color: #3c814b;
    font-size: 16px;
}

.nazv{
    margin: 10px 0px 10px 0px;
}

.money{
    background: linear-gradient(45deg, #9e875b, #ffefa9);
}

.sec{
    background-color: #eedb84;
}

.second{
    color: #81693c;
}

.pl{
    border: 1px lightgray solid;
}

.plus{
    border-radius: 5px;
}

.out{
    background: linear-gradient(45deg, #d45353, #fca4a4);
}

.thr{
    background-color: #ee8484;
}

.third{
    color: #813c3c;
}

.two{
    animation: two 1s;
    animation-iteration-count: 1;
}

.three{
    animation: three 1s;
    animation-iteration-count: 1;
}

.one{
    animation: one 1s;
    animation-iteration-count: 1;
}


@keyframes one {
    0%{opacity: 0; transform: translate(-1000px);}
    30%{opacity: 1; transform: translate(0px);}
    100%{opacity: 1; transform: translate(0px);}
}
@keyframes two {
    0%{opacity: 0; transform: translate(-1000px, -200px);}
    30%{opacity: 1; transform: translate(0px, -200px);}
    90%{opacity: 1; transform: translate(0px, 0px);}
    100%{opacity: 1; transform: translate(0px);}
}
@keyframes three {
    0%{opacity: 0; transform: translate(-1000px, -400px);}
    30%{opacity: 1; transform: translate(0px, -400px);}
    90%{opacity: 1; transform: translate(0px, 0px);}
    100%{opacity: 1; transform: translate(0px);}
}



.table{
    width: 90%;
    animation: tab 1s 1;
}

.subtab{
    padding: 0px;
}

.subtab div{
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 20px 40px;
    margin: 5px 0px;
}

.delete{
    flex-direction: column;
    align-items: center;
}

.del{
    width: 50%;
}

.del_pg{
    width: 90%;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
    height: 40px;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.3s;
    transform: translate(0px, -26px);
    text-decoration: none;
}

.del_pg:hover{
    transform: translate(0px, 0px);
    background: indianred;
}

.none{
    opacity: 0;
}

.hov{
    position: relative;
    animation: shake 0.4s ease-out infinite;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hov:hover{
    transform: none;
    box-shadow: none;
}

.hov::before{
    display: flex;
    justify-content: center;
    align-items: center;
    background: indianred;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    content: "🗑️";
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
}

.hov:hover::before{
    opacity: 1;
}

.bac{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));;
    writing-mode: vertical-rl;
    align-items: end;
    font-size: 50px;
    text-decoration: none;
    letter-spacing: 10px;
    color: gray;
    font-weight: 100;
    transition: 0.3s;
}

.bac:hover{
    filter: brightness(0.5);
}

@keyframes tab {
    0%{opacity: 0; transform: translate(1000px);}
    30%{opacity: 1; transform: translate(0px);}
    100%{opacity: 1; transform: translate(0px);}
}

@keyframes shake {
    0%{transform: rotate(0deg) translate(0px, 0px)}
    12.5%{transform: rotate(3deg) translate(1px, 0px)}
    25%{transform: rotate(6deg) translate(0px, 1px)}
    75%{transform: rotate(-6deg)translate(-1px, 0px)}
    87.5%{transform: rotate(-3deg) translate(0px, -1px)}
    100%{transform: rotate(0deg) translate(0px, 0px)}
}

@keyframes for {
    0%{opacity: 0; transform: translate(0px, -100vh);}
    50%{opacity: 1; transform: translate(0px);}
}

.stat{
    display: flex;
    flex-direction: row;
}

.stat div{
    width: 50%;
    margin: 50px;
}

.stat2{
    width: 80%;
    margin: auto;
}

