<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="logo" href="">
            <a href="" class="pic"><img src="img/logo.png" alt="" width="100%"></a>
            <a href="">CoinKeeper</a>
        </div>
        <a href="#">Authorization</a>
    </header>
    <main>
        <a class="bac" th:href="@{/}">BACK</a>
        <img src="img/back.png" alt="" srcset="" class="back">
        <div>
            <form action="" th:action="@{/add-account}" th:object="${accounts}" method="post">
                <div class="income one del">
                    <div class="title">
                        <h2>ДОБАВЛЕНИЕ СЧЕТА</h2>
                    </div>

                    <div class="card" >

                        <h2>Название счета</h2>
                        <input type="text" th:field="*{name}" class="inputs" required>
                        <h2>Баланс</h2>

                        <input type="number" step="0.01" th:field="*{balance}" class="inputs"  required>
                        <div class="iconUpd" >
                            <h2>Валюта</h2>
                            <select name = "cur_id" class="iconSelUpd">
                                <option th:each="cur : ${forex}" th:text="${cur.sign}" th:value="${cur.id}"></option>
                            </select>
                        </div>

                        <div class="iconUpd" >
                            <h2>Иконка</h2>
                            <select name = "img_id" class="iconSelUpd">
                                <option th:each="img : ${image}" th:text="${img.image}" th:value="${img.id}"></option>
                            </select>
                        </div>
                        <button type="submit" class="updBtn">Добавить</button>
                    </div>
            </form>
        </div>
    </main>
</body>

</html>