<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<header>
    <div class="logo" href="">
        <a href="" class="pic"><img src="img/logo.png" alt="" width="100%"></a>
        <a href="">CoinKeeper</a>
    </div>
    <a href="#">Authorization</a>
</header>
<main>
    <img src="img/back.png"   alt="" srcset="" class="back">
    <div class="form">
        <form action="" method="post">
                <span class="form_el">
                    <span>ИЗ</span>
                    <select name="" id="" class="label">
                        <option value="">Кошелёк</option>
                        <option value="">Карта</option>
                    </select>
                </span>
            <span class="form_el">
                    <span>В</span>
                    <select name="" class="label">
                        <option value="">Кошелёк</option>
                        <option value="">Карта</option>
                    </select>
                </span>
            <span class="summa">
                    <input type="number" placeholder="Сумма">
                    <select name="">
                        <option value="">Рублей</option>
                        <option value="">Тенге</option>
                    </select>
                </span>
            <span class="form_el">
                    <input type="date" placeholder="ДАТА">
                </span>
            <span class="form_el">
                    <input type="text" placeholder="Комментарий">
                </span>
            <button>ПЕРЕВЕСТИ</button>
        </form>
    </div>
    <div class="main_content">
        <div class="cash">
            <div class="income one">
                <div class="title">
                    <h2>ДОХОДЫ</h2>
                    <span class="info">
                        <span class="info1">
                            <p th:text="${inc_bal1} + ' тг'"></p>
                            <p>получено</p>
                        </span>
                        <span class="info2">
                            <p th:text="${inc_bal2} + ' тг'"></p>
                            <p>бюджет доходов</p>
                        </span>
                    </span>
                </div>
                <div class="cards">
                    <div class="card" th:each="inc : ${income}">
                        <p class="nazv" th:text="${inc.name}"></p>
                        <button class="img" for="ass" th:text="${inc.images.image}"></button>
                        <p class="price str" th:text="${inc.balance} + ${inc.forex.sign}"></p>
                        <p class="price" th:text="${inc.plans}"></p>
                    </div>
                    <a class="card more" th:href="@{add-income}">
                        <h1>+</h1>
                    </a>
                </div>
            </div>
            <div class="income two">
                <div class="title money">
                    <h2>СЧЕТА</h2>
                    <span class="info pl">
                            <span class="info2 plus">
                                <p th:text="${acc_bal} + ' тг'"></p>
                                <p>в наличии</p>
                            </span>
                        </span>
                </div>
                <div class="cards">
                    <div class="card" th:each="acc : ${accounts}">
                        <p class="nazv" th:text="${acc.name}"></p>
                        <button class="img sec" th:text="${acc.images.image}"></button>
                        <p class="price str second" th:text="${acc.balance}+ ${acc.forex.sign}"></p>
                    </div>
                    <a class="card more" th:href="@{add-account}">
                        <h1>+</h1>
                    </a>
                </div>
            </div>
            <div class="income three">
                <div class="title out">
                    <h2>РАСХОДЫ</h2>
                    <span class="info">
                            <span class="info1">
                                <p th:text="${exp_bal1} + ' тг'"></p>
                                <p>потрачено</p>
                            </span>
                            <span class="info2">
                                <p th:text="${exp_bal2} + ' тг'"></p>
                                <p>в планах</p>
                            </span>
                        </span>
                </div>
                <div class="cards">
                    <div class="card" th:each="exp : ${expenses}">
                        <p class="nazv" th:text="${exp.name}"></p>
                        <button class="img thr" th:text="${exp.images.image}"></button>
                        <p class="price str third" th:text="${exp.balance}+ ${exp.forex.sign}"></p>
                        <p class="price" th:unless="${exp.plans == null}" th:text="${exp.plans}"></p>
                    </div>
                    <a class="card more" th:href="@{add-expense}">
                        <h1>+</h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="history">
            <table class="table">
                <tr>
                    <td><h1>12 Апреля, 2023</h1></td>
                </tr>
                <tr>
                    <td class="subtab"><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nostrum praesentium nihil quisquam velit, optio magnam quae laboriosam, eaque iste vitae est rerum quas, alias necessitatibus minima adipisci. Voluptate, eligendi!</div></td>
                </tr>
                <tr>
                    <td class="subtab"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nobis molestias, error officiis voluptatem harum nulla iste explicabo, magnam quae soluta minima, ut delectus vel id mollitia neque porro quo.</div></td>
                </tr>
                <tr>
                    <td><h1>11 Апреля, 2023</h1></td>
                </tr>
                <tr>
                    <td class="subtab"><div>Пополение</div></td>
                </tr>
            </table>
        </div>
    </div>
</main>
</body>

</html>