<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<header>
    <div class="logo" href="">
        <a href="" class="pic"><img src="img/logo.png" alt="" width="100%"></a>
        <a href="">CoinKeeper</a>
    </div>
    <a href="#">Authorization</a>
</header>
<main>
    <img src="img/back.png"   alt="" srcset="" class="back">
    <div class="form">
        <form action="" method="post" th:object="${history}" th:action="@{/transfer}">
                <span class="form_el">
                    <span>ИЗ</span>
                    <select id="" class="label" name="from_id" required>
                        <option th:each="in : ${income}" th:text="${in.name}" th:value="'1'+${in.id}">
                        <option th:each="acc : ${accounts}" th:text="${acc.name}" th:value="'2'+${acc.id}">
                    </select>
                </span>
            <span class="form_el">
                    <span>В</span>
                    <select class="label" name="to_id" required>
                        <option th:each="acc : ${accounts}" th:text="${acc.name}" th:value="'2'+${acc.id}">
                        <option th:each="ex : ${expenses}" th:text="${ex.name}" th:value="'3'+${ex.id}">
                    </select>
                </span>
            <span class="summa" >
                    <input type="number" step="0.01" placeholder="Сумма" th:field="*{sum}" required>
                    <select name="forex" required>
                        <option th:each="frx : ${forex}" th:value="${frx.id}" th:text="${frx.sign}"></option>
                    </select>
                </span>
            <span class="form_el">
                    <input type="date" placeholder="ДАТА" th:field="*{date}" required>
                </span>
            <span class="form_el">
                    <input type="text" placeholder="Комментарий" th:field="*{comment}">
                </span>
            <button type="submit">ПЕРЕВЕСТИ</button>
        </form>
    </div>
    <a class="del_pg" th:href="@{/remove}">🗑️</a>
    <div class="main_content">
        <div class="cash">
            <div class="income one">
                <div class="title">
                    <h2>ДОХОДЫ</h2>
                    <span class="info">
                        <span class="info1">
                            <p th:text="${inc_bal1} + ' тг'"></p>
                            <p>получено</p>
                        </span>
                        <span class="info2">
                            <p th:text="${inc_bal2} + ' тг'"></p>
                            <p>бюджет доходов</p>
                        </span>
                    </span>
                </div>
                <div class="cards">
                    <div class="card" th:each="inc : ${income}">
                        <p class="nazv" th:text="${inc.name}"></p>

                            <a class="img"  th:href="@{update-income/{id}(id=${inc.id})}" th:text="${inc.images.image}" ></a>

                        <p class="price str" th:text="${inc.balance} + ${inc.forex.sign}"></p>
                        <p class="price" th:text="${inc.plans}"></p>

                    </div>
                    <a class="card more" th:href="@{add-income}">
                        <h1>+</h1>
                    </a>
                </div>
            </div>
            <div class="income two">
                <div class="title money">
                    <h2>СЧЕТА</h2>
                    <span class="info pl">
                            <span class="info2 plus">
                                <p th:text="${acc_bal} + ' тг'"></p>
                                <p>в наличии</p>
                            </span>
                        </span>
                </div>
                <div class="cards">
                    <div class="card" th:each="acc : ${accounts}">
                        <p class="nazv" th:text="${acc.name}"></p>
                        <a class="img sec"  th:href="@{update-accounts/{id}(id=${acc.id})}" th:text="${acc.images.image}" ></a>
                        <p class="price str second" th:text="${acc.balance}+ ${acc.forex.sign}"></p>
                    </div>
                    <a class="card more" th:href="@{add-account}">
                        <h1>+</h1>
                    </a>
                </div>
            </div>
            <div class="income three">
                <div class="title out">
                    <h2>РАСХОДЫ</h2>
                    <span class="info">
                            <span class="info1">
                                <p th:text="${exp_bal1} + ' тг'"></p>
                                <p>потрачено</p>
                            </span>
                            <span class="info2">
                                <p th:text="${exp_bal2} + ' тг'"></p>
                                <p>в планах</p>
                            </span>
                        </span>
                </div>
                <div class="cards">
                    <div class="card" th:each="exp : ${expenses}">
                        <p class="nazv" th:text="${exp.name}"></p>
                        <a class="img thr" role="button" th:href="@{update-expenses/{id}(id=${exp.id})}" th:text="${exp.images.image}" ></a>
                        <p class="price str third" th:text="${exp.balance}+ ${exp.forex.sign}"></p>
                        <p class="price" th:unless="${exp.plans == null}" th:text="${exp.plans}"></p>
                    </div>
                    <a class="card more" th:href="@{add-expense}">
                        <h1>+</h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="history">
            <h1>История Переводов</h1>
            <table class="table">
                <tr th:each="hs : ${hs}">
                    <td>
                        <div class="subtab"><div><h4 th:text="${hs.date}" class="date"></h4><p th:text="'Перевод из '+ ${hs.from} + ' В ' + ${hs.to} + '. Сумма: ' + ${hs.sum} + ${hs.forex.sign}"></p></div></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="stat">
        <div><canvas id="myChart"></canvas></div>
        <div><canvas id="expChart"></canvas></div>
    </div>
    <div class="stat2"><canvas id="general"></canvas></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:inline="javascript">
        const ctx = document.getElementById('myChart');
        const cty = document.getElementById('expChart')
        const ctz = document.getElementById('general')

        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: [[${ina}]],
                datasets: [{
                    label: ' tg',
                    data: [[${ina_data}]],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Доходы'
                    }
                }
            }
        });
        new Chart(cty, {
            type: 'pie',
            data: {
                labels: [[${exp}]],
                datasets: [{
                    label: ' tg',
                    data: [[${exp_data}]],
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Расходы'
                    }
                }
            }
        });
        new Chart(ctz, {
            type: 'bar',
            data: {
                labels: [' '],
                datasets: [{
                    data: [[${gen_inc}]],
                    label: 'Доходы'
                },
                    {
                        data: [[${gen_exp}]],
                        label: 'Расходы'
                    }]
            },
            options: {
                indexAxis: 'y'
            },
            plugins: {
                legend: {
                    display: false,
                }
            }
        });
    </script>

</main>
</body>

</html>