<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="logo" href="">
            <a href="" class="pic"><img src="img/logo.png" alt="" width="100%"></a>
            <a href="">CoinKeeper</a>
        </div>
        <a href="#">Authorization</a>
    </header>
    <main>
        <img src="img/back.png" alt="" srcset="" class="back">
        <div class="form">
            <form action="" method="get">
                <span class="form_el">
                    <span>ИЗ</span>
                    <select name="" id="" class="label">
                        <option value="">Кошелёк</option>
                        <option value="">Карта</option>
                    </select>
                </span>
                <span class="form_el">
                    <span>В</span>
                    <select name="" id="" class="label">
                        <option value="">Кошелёк</option>
                        <option value="">Карта</option>
                    </select>
                </span>
                <span class="summa">
                    <input type="number" placeholder="Сумма">
                    <select name="" id="">
                        <option value="">Рублей</option>
                        <option value="">Тенге</option>
                    </select>
                </span>
                <span class="form_el">
                    <input type="date" placeholder="ДАТА">
                </span>
                <span class="form_el">
                    <input type="text" placeholder="Комментарий">
                </span>
                <button>ПЕРЕВЕСТИ</button>
            </form>
        </div>
        <div class="main_content">
            <div class="cash" >
                <div class="income one">
                    <div class="title">
                        <h2>ДОХОДЫ</h2>
                        <span class="info">
                            <span class="info1">
                                <p>15000тг</p>
                                <p>получено</p>
                            </span>
                            <span class="info2">
                                <p>1200000тг</p>
                                <p>бюджет доходов</p>
                            </span>
                        </span>
                    </div>
                    <div class="cards"th:switch="${income}">
                        <div th:case="null"></div>
                        <div th:case="*">
                            <div class="card" th:each="income: ${income}">
                                <p class="nazv" th:text="${income.name}"></p>
                                <button class="img">💸</button>
                                <p class="price str" th:text="${income.balance}">тг</p>
                                <p class="price" th:text="${income.plans}"></p>
                            </div>
                        </div>
                        <div class="card">
                            <button class="img" th:href="/add-income">+</button>

                    </div>
                </div>
                <div class="income two">
                    <div class="title money">
                        <h2>СЧЕТА</h2>
                        <span class="info pl">
                            <span class="info2 plus">
                                <p>1200000тг</p>
                                <p>в наличии</p>
                            </span>
                        </span>
                    </div>
                    <div class="cards">
                        <div class="card">
                            <p class="nazv">Kaspi</p>
                            <button class="img sec">💳</button>
                            <p class="price str second">300000тг</p>
                        </div>
                        <div class="card">
                            <p class="nazv">Halyk</p>
                            <button class="img sec">🧼</button>
                            <p class="price str second">1000000тг</p>
                        </div>
                    </div>
                </div>
                <div class="income three">
                    <div class="title out">
                        <h2>РАСХОДЫ</h2>
                        <span class="info">
                            <span class="info1">
                                <p>15000тг</p>
                                <p>потрачено</p>
                            </span>
                            <span class="info2">
                                <p>1200000тг</p>
                                <p>в планах</p>
                            </span>
                        </span>
                    </div>
                    <div class="cards">
                        <div class="card">
                            <p class="nazv">Работа</p>
                            <button class="img thr">💸</button>
                            <p class="price str third">50000тг</p>
                            <p class="price">200000</p>
                        </div>
                        <div class="card">
                            <p class="nazv">Бизнес</p>
                            <button class="img thr">💎</button>
                            <p class="price str third">100000тг</p>
                            <p class="price">1000000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="history">
                <table class="table">
                    <tr>
                        <td><h1>12 Апреля, 2023</h1></dh>
                    </tr>
                    <tr>
                        <td class="subtab"><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nostrum praesentium nihil quisquam velit, optio magnam quae laboriosam, eaque iste vitae est rerum quas, alias necessitatibus minima adipisci. Voluptate, eligendi!</div></td>
                    </tr>
                    <tr>
                        <td class="subtab"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nobis molestias, error officiis voluptatem harum nulla iste explicabo, magnam quae soluta minima, ut delectus vel id mollitia neque porro quo.</div></td>
                    </tr>
                    <tr>
                        <td><h1>11 Апреля, 2023</h1></dh>
                    </tr>
                    <tr>
                        <td class="subtab"><div>Пополение</div></td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
</body>

</html>